@{
    ViewData["Title"] = "Main";
    ViewData.AddActivePage(UserProfileMenuNavPages.Main);
}

<br/><br />

<div class="jumbotron">
    <h1>Auto Web Shop</h1>
    <p class="lead">
        Here you can find different type of services for your car.
        <br />
        Sign Up to enjoy our service more
    </p>
    <a asp-controller="Product" asp-action="Products" class="btn btn-primary btn-lg">Explore!</a>
</div>

<div class="row text-center">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="~/images/img1_225_250.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">The Hottest Deals</h4>
                <p class="card-text">A lot of interesting products and services for your car are waiting for you. Be the first who enjoys it.</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Product" asp-action="Products" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="~/images/car2_225_250.jpeg" alt="">
            <div class="card-body">
                <h4 class="card-title">World Wide Companies</h4>
                <p class="card-text">
                    World leaders in the industry of automotive products and services place their offers at our site with the best prices for you.
                </p>
            </div>
            <div class="card-footer">
                <a asp-controller="Product" asp-action="Products" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="~/images/car3_225_250.jpeg" alt="">
            <div class="card-body">
                <h4 class="card-title">The Best Price</h4>
                <p class="card-text">The best price in the whole internet!!! Comapre different prices for the same product or serive ath the same web site!</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Product" asp-action="Products" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="~/images/car4_225_250.jpeg" alt="">
            <div class="card-body">
                <h4 class="card-title">Email Notifications</h4>
                <p class="card-text">We will notify you if we have something interesting for you</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Product" asp-action="Products" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
</div>
