@{
    ViewData["Title"] = "Main";
    ViewData.AddActivePage(UserProfileMenuNavPages.Main);
}

<br/><br />

<div class="jumbotron">
    <h1>Auto Web Shop</h1>
    <p class="lead">
        Here you can find different type of services for your car.
        <br />
        Sign Up to enjoy our service more
    </p>
    <a asp-controller="Product" asp-action="Products" class="btn btn-primary btn-lg">Explore!</a>
</div>

<div class="row text-center">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="~/images/img1_225_250.jpg" alt="">
            <div class="card-body">
                <h4 class="card-title">The Hottest Deals</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Product" asp-action="Products" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="~/images/car2_225_250.jpeg" alt="">
            <div class="card-body">
                <h4 class="card-title">World Wide Companies</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Product" asp-action="Products" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="~/images/car3_225_250.jpeg" alt="">
            <div class="card-body">
                <h4 class="card-title">The Best Price</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Product" asp-action="Products" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <img class="card-img-top" src="~/images/car4_225_250.jpeg" alt="">
            <div class="card-body">
                <h4 class="card-title">Email Notifications</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
                <a asp-controller="Product" asp-action="Products" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>
</div>
