body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* content padding*/

.content-padding-xs {
    padding-top: 40px;
}

.content-padding-sm {
    padding-top: 80px;
}

.content-padding-md {
    padding-top: 95px;
}

.content-padding-lg {
    padding-top: 110px;
}

/* header*/

.white-text {
    color: #FFF;
}

/* --  navbar  -- */

.navbar-brand {
    font-size: 24px;
}

.navbar-fixed-top {
    height: 80px;
    font-size: 18px;
    padding-top: 10px;
    -webkit-transition: height .5s, line-height .5s;
    transition: height .5s, line-height .5s;
}

    .navbar-fixed-top.scrolled {
        height: 50px !important;
        font-size: 16px;
        padding: 0px;
    }

        .navbar-fixed-top.scrolled li a {
            color: #FFF;
        }

            .navbar-fixed-top.scrolled li a:hover {
                color: rgba(5,193,255,1);
            }

.navbar-right.dropdown li a {
    color: rgba(0,0,0,1);
}

/* --  navbar right  -- */
.navbar-fixed-top.scrolled .navbar-right button {
    color: #FFF;
    text-decoration: none;
}

.navbar-fixed-top.scrolled .navbar-right .scroll-black {
    color: black;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container {
    transition: 0.8s;
    -webkit-transition: 0.8s;
}

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }


/* -- navbar right collapsed -- */
@media only screen and (max-width: 768px) {
    .nav > li > a.dropdown-toggle {
        display: none;
    }

    .nav .dropdown-menu {
        display: block;
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        margin-bottom: 15px;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

        .nav .dropdown-menu li {
            float: left;
        }

    .navbar-right.dropdown li a {
        color: #FFF;
    }

    /* --  navbar right  -- */
    .navbar-fixed-top .navbar-right button.scroll-black {
        color: #FFF;
        text-decoration: none;
        position: relative;
        top: -5px;
    }

    .navbar-fixed-top.scrolled .navbar-right .scroll-black {
        color: #FFF;
    }
}


@media only screen and (max-width: 768px) {

    .navbar-fixed-top {
        padding: 0;
        height: 60px;
    }

        .navbar-fixed-top.scrolled {
            height: 40px !important;
        }

    .navbar-default .navbar-collapse {
        background-color: #05060a;
    }
}

@media only screen and (max-width: 676px) {

    .navbar-default .navbar-collapse {
        font-size: 10px;
    }

    #navbar {
        height: 100vh !important;
        overflow-y: scroll !important;
    }

        #navbar .navbar-right {
            margin-bottom: 50px;
        }
}

@media only screen and (max-width: 426px) {

    .navbar-default .navbar-collapse li {
        float: left;
        font-size: 8px;
    }
}

/* -- section  -- */

.section {
    position: relative;
}

.md-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

.sm-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.xs-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* --  background section  -- */

.bg-grey {
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.bg-dark {
    background-color: #1C1D21;
}

.bg-blue {
    background: -moz-linear-gradient(45deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,51,51,1)), color-stop(50%, rgba(5,193,255,1)), color-stop(100%, rgba(0,51,51,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); /* opera 11.10+ */
    background: linear-gradient(45deg, rgba(0,51,51,1) 0%, rgba(5,193,255,1) 50%, rgba(0,51,51,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003333', endColorstr='#003333',GradientType=1 ); /* ie6-9 */
}

.bg-light-blue {
    background: -moz-linear-gradient(45deg, rgba(69,199,255,1) 0%, rgba(69,199,255,1) 2%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(69,199,255,1)), color-stop(2%, rgba(69,199,255,1)), color-stop(37%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(69,199,255,1) 0%, rgba(69,199,255,1) 2%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(69,199,255,1) 0%, rgba(69,199,255,1) 2%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
    background: linear-gradient(45deg, rgba(69,199,255,1) 0%, rgba(69,199,255,1) 2%, rgba(255,255,255,1) 37%, rgba(255,255,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#45C7FF',GradientType=1 ); /* ie6-9 */
}

.bg-dark-blue {
    background: -moz-linear-gradient(45deg, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 17%, rgba(0,0,227,1) 23%, rgba(0,0,0,1) 73%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,0,255,1)), color-stop(17%, rgba(0,0,255,1)), color-stop(23%, rgba(0,0,227,1)), color-stop(73%, rgba(0,0,0,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 17%, rgba(0,0,227,1) 23%, rgba(0,0,0,1) 73%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 17%, rgba(0,0,227,1) 23%, rgba(0,0,0,1) 73%); /* opera 11.10+ */
    background: linear-gradient(45deg, rgba(0,0,255,1) 0%, rgba(0,0,255,1) 17%, rgba(0,0,227,1) 23%, rgba(0,0,0,1) 73%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0000ff',GradientType=1 ); /* ie6-9 */
}

.bg-light-aqua {
    background: -moz-linear-gradient(45deg, rgba(224,233,255,1) 0%, rgba(255,255,255,1) 50%, rgba(232,236,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(224,233,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(232,236,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(224,233,255,1) 0%, rgba(255,255,255,1) 50%, rgba(232,236,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(224,233,255,1) 0%, rgba(255,255,255,1) 50%, rgba(232,236,255,1) 100%); /* opera 11.10+ */
    background: linear-gradient(45deg, rgba(224,233,255,1) 0%, rgba(255,255,255,1) 50%, rgba(232,236,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E8ECFF', endColorstr='#E0E9FF',GradientType=1 ); /* ie6-9 */
}

.bg-light-dark {
    background: -moz-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(5,193,255,1) 2%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 92%, rgba(0,0,255,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(2%, rgba(5,193,255,1)), color-stop(8%, rgba(255,255,255,1)), color-stop(31%, rgba(255,255,255,1)), color-stop(32%, rgba(255,255,255,1)), color-stop(40%, rgba(255,255,255,1)), color-stop(92%, rgba(255,255,255,1)), color-stop(100%, rgba(0,0,255,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(5,193,255,1) 2%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 92%, rgba(0,0,255,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(5,193,255,1) 2%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 92%, rgba(0,0,255,1) 100%); /* opera 11.10+ */
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(5,193,255,1) 2%, rgba(255,255,255,1) 8%, rgba(255,255,255,1) 31%, rgba(255,255,255,1) 32%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 92%, rgba(0,0,255,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000ff', endColorstr='#ffffff',GradientType=1 ); /* ie6-9 */
}

.bg-blue-purpure {
    background: -moz-linear-gradient(45deg, rgba(189,36,255,1) 0%, rgba(0,128,128,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(189,36,255,1)), color-stop(100%, rgba(0,128,128,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(189,36,255,1) 0%, rgba(0,128,128,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(189,36,255,1) 0%, rgba(0,128,128,1) 100%); /* opera 11.10+ */
    background: linear-gradient(45deg, rgba(189,36,255,1) 0%, rgba(0,128,128,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008080', endColorstr='#BD24FF',GradientType=1 ); /* ie6-9 */
}
/* --  background image section  -- */

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

    .bg-img .overlay {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: .8;
        background: #1C1D21;
    }

/* Index page jumbotron*/

.jumbotron.index {
    background-image: url('../images/imageedit_3_4422953955.gif');
    filter: alpha(opacity=50);
    background-size: cover;
    height: 100%;
    background-size: cover;
}


/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    overflow-x: hidden;
    padding: 10px 0 10px 0;
    background: #438f5f;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

/*manage nav*/
ul.white-li li a {
    color: #130505;
}

/*user menu nav*/
ul.left-side-nav li a {
    color: azure;
}

.nav.left-side-nav > li > a.active,
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #0b500b;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
    color: rgba(232,236,255,1);
}

.nav.left-side-nav li > button {
    color: rgba(232,236,255,1);
}

    .nav.left-side-nav li > button:hover {
        background-color: rgba(0,128,128,1);
    }
